<?php

// Include our template engine
require_once('Smarty/libs/Smarty.class.php');

// Include our input processing class
require_once('includes/Input.class.php');

// Include our functions
require_once('includes/functions.php');

// Department members
require_once('includes/department.inc.php');

// Database

$db = new PDO('mysql:host=localhost;dbname=stfleet_pd;charset=utf8', '', '');

?>
